{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    table {
        text-align:center;
    }
    tr td {
        text-align: center;
        height:100px;
        line-height:100px;
    }
    input[type=number]:hover::-webkit-inner-spin-button {
        width: 14px;
        height:35px;
    }
</style>
<div class="container">
    <h2>장바구니</h2>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>선택</th>
            <th style="width: 150px;">이미지</th>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
            <th>합계</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr data-itemId="{{ item.id }}" data-userId="{{ item.user_id }}" data-amount="{{ item.sub_total }}">
            <td><input type="checkbox" name="chk" ></td>
            <td><img style="width:150px; height:100px;" src="{{ item.photo.image.url }}"></td>
            <td class="name">{{ item.photo.name }}</td>
            <td class="price">{{ item.photo.price }}</td>
            <td><input type="number" class="quantity" min="1" max="{{ item.photo.stock }}" value="{{ item.quantity }}" style="width: 100px; height: 35px; line-height: 35px;"></td>
            <td class="sub_amount" style="width: 150px;">{{ item.sub_total }}</td>
            <input type="hidden" class="proId" value="{{ item.photo.id }}">
            <input type="hidden" class="stock" value="{{ item.photo.stock }}">
            <input type="hidden" class="ordId" value="{{ item.id }}">
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5"><h3 style="height: 30px; line-height:30px; text-align:right;">총 합계금액 : </h3></td>
            <td colspan="5"><h3 class="amount" style="height: 30px; line-height:30px; text-align:center;">{{ total }}</h3></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <div style="width: 300px; margin: 0px auto 50px auto;">
        <button type="button" class="btn btn-dark" onClick="delRow()">선택상품삭제</button>
        <button type="button" class="btn btn-dark" onClick="delAllRow()">장바구니비우기</button>
    </div>
</div>
<div style="width:600px; padding: 30px 20px; margin:0 auto; box-shadow: 0 0 4px gray;">
<legend>주소검색</legend>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <input type="text" id="sample4_postcode" class="form-control input-lg" placeholder="우편번호">
    </div>
    <div class="col-xs-6 col-md-6">
        <input type="button" onclick="sample4_execDaumPostcode()" class="btn btn-lg btn-primary btn-block signup-btn" value="우편번호 찾기"><br>
    </div>
</div>
<br>
<input type="text" id="sample4_roadAddress" class="form-control input-lg" placeholder="도로명주소">
<br>
<input type="text" id="sample4_jibunAddress" class="form-control input-lg" placeholder="지번주소">
<br>
<span id="guide" style="color:#999;display:none"></span>
<input type="text" id="sample4_detailAddress" class="form-control input-lg" placeholder="상세주소">
<br>
<input type="text" id="sample4_extraAddress" class="form-control input-lg" placeholder="참고항목">
</div>

<!--팝업-->

<div>
    <div style="width: 600px; margin: 20px auto;">
        <button type="button" class="paybtn btn" onClick="location.href='{% url 'order:naverpay' %}'"
                style="width: 200px; height: 60px; box-shodow: 0 0 4px gray; background-image: url({% static 'image/naverpay.png' %}); background-size: 200px 60px; background-repeat: no-repeat; margin-right: 10px;"></button>
        <button type="button" class="paybtn btn" onClick="location.href='{% url 'order:kakaopay' uid=uid %}'"
                style="width: 150px; height: 60px; box-shodow: 0 0 4px gray; background-image: url({% static 'image/kakaopay.png' %}); background-size: 150px 60px; background-repeat: no-repeat; margin-right: 10px;"></button>
        <button type="button" class="paybtn btn btn-danger" onClick="location.href='{% url 'order:cardpay' %}'"
                style="width: 200px; height: 60px; box-shodow: 0 0 4px gray;">카드결제</button>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
var update_cart = "{% url 'cart:update_cart' %}";
var del_cart = "{% url 'cart:delete_cart' %}";
var del_all_cart = "{% url 'cart:delete_all_cart' %}";
var total = {{ total }};
</script>
<script type="text/javascript" src="{% static 'js/cart_detail.js' %}"></script>
{% endblock %}

