{% extends "base.html" %}
{% load static %}
{% block title %}album_list.html{% endblock %}

{% block extra-style %}
<style>
.thumbnail {
    border: 3px solid #ccc;
}





</style>
{% endblock %}

{% block content %}
<!--<img src="{% static 'imegett/main01.png' %}">-->


<!--<div id="main333"></div>-->

<div id="main333"></div>


{% for item in object_list %}
<div class="mt-5" style="position:relative; left:302px;">
    <a class="h2" href="{% url 'photo:album_detail' item.id %}">
        {{ item.name }}</a>&emsp;
    <span class="font-italic h5">{{ item.description }}</span>
</div>
<!--<hr style="margin: 0 0 20px 0;">-->
<a style="margin: 0 0 20px 0; position:relative; left:302px;">

</a>
<div class="row" style="position:relative; left:302px;">
    {% for photo in item.photo_set.all|slice:":8" %}
    <div class="col-md-1 mb-5">
        <div class="thumbnail">
            <a href="{{ photo.get_absolute_url }}">
                <img src="{{ photo.image.url }}" style="width: 110%;">
            </a>
        </div>
        <ul>
            <li class="font-italic">{{ photo.title }}</li>
            <li class="font-italic">{{ photo.money }} 원</li>
            <li class="font-italic">{{ photo.season }}</li>

            <!--                <li class="font-italic">{{ photo.upload_dt|date:"Y-m-d" }}</li>-->
        </ul>
    </div>
    {% endfor %}
</div>


<style>

div#main333 {
    width: 1400px;
    height: 686px;
	background: url("/static/imegett/mmain01.jpg") no-repeat;
    animation:myani02 30s ease infinite;
	position: relative;
}

@keyframes myani02{
	14%{
		background: url("/static/imegett/mmain02.webp") no-repeat;
	}
	28%{
		background: url("/static/imegett/mmain03.jpg") no-repeat;
	}
	42%{
		background: url("/static/imegett/mmain04.jpg") no-repeat;
	}
	56%{
		background: url("/static/imegett/mmain05.webp") no-repeat;
	}
	70%{
		background: url("/static/imegett/mmain06.webp") no-repeat;
	}
	84%{
		background: url("/static/imegett/mmain07.webp") no-repeat;
	}
<!--	70%{-->
<!--		background: url("/static/imegett/main08.jpg") no-repeat;-->
<!--	}-->
<!--	80%{-->
<!--		background: url("/static/imegett/main09.jpg") no-repeat;-->
<!--	}-->
<!--	90%{-->
<!--	   background: url("/static/imegett/main10.jpeg") no-repeat;-->
<!--	}-->
}






</style>

{% endfor %}

{% endblock %}

