{% extends "base.html" %}

{% block title %}photo_detail.html{% endblock %}

{% block content %}

<h2 class="mt-5">{{ object.title }}</h2>

<div class="row">
    <div class="col-md-9">
        <a href="{{ object.image.url }}">
            <img src="{{ object.image.url }}" style="width: 50%; position:relative; left:302px;">
        </a>
    </div>

    <ul class="col-md-3 mt-3"  style="position:relative; right:300px;">
        <li class="h5">상품 가격</li>
        <p class="font-italic">{{ object.money }} 원</p>

        <li class="h5">시즌</li>
        <p class="font-italic">{{ object.season }}</p>

        <li class="h5">스타일</li>
        {% if object.style %}<p>{{ object.style|linebreaks }}</p>
        {% else %}<p>(blank)</p>{% endif %}

        <li class="h5">사이즈</li>
        {% if object.size %}<p>{{ object.size|linebreaks }}</p>
        {% else %}<p>(blank)</p>{% endif %}

        <li class="h5">소재</li>
        {% if object.Material %}<p>{{ object.Material|linebreaks }}</p>
        {% else %}<p>(blank)</p>{% endif %}

<!--        <li class="h5">소재</li>-->
<!--        <p class="font-italic">{{ object.Material }}</p>-->

        <li class="h5">Kategorie</li>
        <p class="font-italic">
              <a href="{% url 'photo:album_detail' object.album.id %}"> {{ object.album.name }}</a>
        </p>
    </ul>
</div>

{% endblock %}

