{% extends "base.html" %}

{% block title %}photo_detail.html{% endblock %}

{% block content %}

<h2 class="mt-5">{{ object.title }}</h2>

<div class="row">
    <div class="col-md-9">
        <a href="{{ object.image.url }}">
            <img src="{{ object.image.url }}" style="width: 50%; position:relative; left:302px;">
        </a>
    </div>

    <ul class="col-md-3 mt-3" style="position:relative; right:300px;">
        <li class="h5">상품 가격</li>
        <p class="price font-italic" data-price="{{ object.money }}" data-money="{{ object.money }}">{{ object.money }} 원</p>

        <li class="h5">시즌</li>
        <p class="font-italic">{{ object.season }}</p>

        <li class="h5">스타일</li>
        {% if object.style %}<p>{{ object.style|linebreaks }}</p>
        {% else %}<p>(blank)</p>{% endif %}

        <li class="h5">사이즈</li>
        {% if object.size %}<p>{{ object.size|linebreaks }}</p>
        {% else %}<p>(blank)</p>{% endif %}

        <li class="h5">소재</li>
        {% if object.Material %}<p>{{ object.Material|linebreaks }}</p>
        {% else %}<p>(blank)</p>{% endif %}

        <!--        <li class="h5">소재</li>-->
        <!--        <p class="font-italic">{{ object.Material }}</p>-->

        <li class="h5">Kategorie</li>
        <p class="font-italic">
              <a href="{% url 'photo:album_detail' object.album.id %}"> {{ object.album.name }}</a>
        </p>
        <button onclick="pay()">결제하기</button>
        <button onclick="cart()">장바구니</button>

    </ul>
</div>
<script>
function pay(){
    var price = $('.price').attr('data-price');

    let param ={
        'price': price,
    };

    $.ajax({
        url : {% url 'photo:addprice' %},
        type: 'POST',
        datatype: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(param),
        headers: {
            'X-CSRFTOKEN' : '{{ csrf_token }}'
        },
        success : function(data) {
        console.log("add price 성공");
        },
        error: function(data) {
        alert("error= addprice 실패");
        }
    });
};



function cart(){
    var money = $('.money').attr('data-money');

    let param ={
        'money': money,
    };


    $.ajax({
        url : {% url 'photo:addmoney' %},
        type: 'POST',
        datatype: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(param),
        headers: {
            'X-CSRFTOKEN' : '{{ csrf_token }}'
        },
        success : function(data) {
        console.log("add money 추가 완");
        },
        error: function(data) {
        alert("error= 안되는데?");
        }
    });
};









</script>
{% endblock %}

