{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    Welcome to the PLATE-STUDIO where you can buy awesome items.
{% endblock %}

{% block title %}
    {% if album %}
        {{ album.name }} - PLATE-STUDIO
    {% else %}
        See Our Photos Collection - PLATE-STUDIO
    {% endif %}
{% endblock %}

{% block content %}
    {% if album %}
        <div class="row my-row-class">
            <div class="mx-auto">
                <p><a href = "{% url 'photo:allPhotoAB' %}">Our Photo Collection</a> | {{ album.name }}</p>
            </div>
        </div>
    {% endif %}

    <div>
        <div>
            <h1 class="text-center my_title">인스타 같이 만들어 보자</h1>
            <p class="text-justify">밑에 설명 란 길게 쓰도 되는구마잉</p>
        </div>
    </div>
    <div class="container">
        <div class="row mx-auto">
            {% for photo in photos.object_list %}
            <div class="my_bottom_margin col-9 col-sm-6 col-md-4 col-lg-4">
                <div class="card text-center" style="width: 18rem;">
                    <a href = "{{photo.get_absolute_url}}"><img class="card-img-top my_image" src = "{{photo.image.url}}" alt = "{{photo.title}}"></a>
                    <div class="card-body">
                        <h4>{{photo.title}}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if photos.paginator.num_pages > 1 %}
                <br>
                <div class="text-center">
                    {% for pg in photos.paginator.page_range %}
                        <a href="?page={{pg}}" class="btn btn-light btn sm {% if photos.number == pg %}active{% endif %}">{{pg}}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
    </div>
{% endblock %}